.button_custom {
  width: 14vw;
  height: 4vh;
  border-radius: 51px;
  cursor: pointer;
  font-weight: 500;
  font-size: medium;
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button__style {
  background-color: #ffffff;
  border: 1px solid #2967FF;
  color: #2967FF;
}

.button__style:active {
  background-color: #2967FF;
  color: #ffffff;
}

.link__style {
  background-color: #2967FF;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
}

.link__style:active {
  background-color: #ffffff;
  color: #2967FF;
  border-color: #2967FF;
}
@media (min-width: 700px) and (max-width: 1130px) {
.button_custom{
    width: 25vw;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .button_custom {
    width: 30vw;
  }
}
@media (min-width: 100px) and (max-width: 499px) {
  .button_custom {    
    width: 50vw;
  }
}