.category-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin:10px auto;
}

.catalog-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
}
/* .catalog-listitem {
  width: 100%;
  height: auto;
  box-sizing: content-box;
} */


@media (min-width: 500px) and (max-width: 700px) {
  .catalog-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    gap: 20px;
    list-style: none;
  }
}
@media (min-width: 100px) and (max-width: 499px) {
  .catalog-list {    
    display: grid;
    grid-template-columns: repeat(1, 50vw);   
  }
}